*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100% ;
    background-color:#90a6c4 !important ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar img{
   width: 50px;
   border-radius: 50%;
    
}
header{
    width: 100%;
    height: 30vh;
    padding: 1.5rem;
    
 
   
}
.contenedorsil{
    margin: 0 auto;
    width: 80%;
    padding: 24px;
    display: flex;
    gap: 1rem;
    
}
.itempresentacion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.itempresentacionimg img{
   max-width: 100%;
   filter: brightness(80%);
  
}
.itempresentacionimg, .itempresentacion{
    flex: 1 1 200px;
}
.navbar-toggler{
    width: 50px;
    border: none !important;
    outline: none;
}
.navbar-toggler:focus{
    box-shadow: none !important;
    outline: none !important;
}

#navbarSupportedContent{
    flex-grow: unset;
    background-color:#90a6c4;
    color: aliceblue;
    z-index: 1;
  }

#h1principal{
    color: transparent;
    font-weight: 800;
    text-shadow: 0 0 1px rgb(132, 43, 43);
}

.container {
    margin-top: 10rem;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    grid-template-rows: auto; 
   gap: 1rem;
     
  }
  
.container img{
    max-width: 100%;
    transition:  0.6s ease;
}
.container img:hover{
    transform: scale(1.2);
}
#h2principal{
    font-size: 1rem;
    padding: 1rem;
    color: aliceblue;
       background-color:rgb(132, 43, 43) ;
}

.grupoteatro{
   
    margin: 7rem auto;
   
    padding: 24px;
    
    
    /* From https://css.glass */

}
.portadateatro{
    width: 100%;
    height: 4rem;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    


}
.quiensoy{
    padding: 24px;
}
.contenderimgq{
    margin: 0 auto;
}
.imagenquiensoy{
    max-width: 100%;
    margin-bottom: 2rem;
}
#escuelatext{
    /* display: inline; */
    /* width: 100%; */
   
    text-align: center;
   
/* border-radius: 16px; */


color: transparent;
    font-weight: 500;
    text-shadow: 0 0 1px rgb(132, 43, 43);
}

.portadateatroimg{
    width: 100%;
    height: 100%;
    
   
}
.portadateatroimg img{
    max-width: 50%;
    max-height: 50%;
    
    object-fit: contain;
    
    
    
}
.imagen1{
    text-align: center;
    
}
.imagen2, .imagen4{
    text-align: end;
}

.servicios {
    /* display: flex;
    
    flex-wrap: wrap;
    gap: 20px; */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 25px;
    flex-wrap: wrap;
   
}


.servicio {
    width: 21.875rem;
    height: 40.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);
            border-radius: 15px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            padding: 24px;
            width: 350px;
            height: auto;
            transition: transform 0.3s;
            margin: 2rem 0;
}

.servicio:hover {
    
        transform: scale(1.05);
    
}
.iconserv{
    width: 7rem;
    align-self: center;
    margin-bottom: 4rem;
    
    
}
.servicio h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
}

.servicio p {
    font-size: 16px;
    color: #3c3c3c;
}
/* #servip{
    font-size: 1.2rem;
    color: black;
} */

.btnservicio{
    
    background: #b71c1c;
            color: white;
            padding: 12px 20px;
            border-radius: 25px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            transition: background 0.3s ease;

}
.btnservicio:hover {
    background: #e36d6d;
}
.portadaastroimg{
    margin-top: 2rem;
    max-width: 100%;
}
.parrafoastro{
    padding: 24px;
    
}

.contenedorastrologia{
    margin-top: 3rem;
}
.itemastro{
    transition: all ease 0.3s;
}
.itemastro:hover{
    transform: scale(1.05);
}
.imgastroi{
    max-width: 100%;
    margin-bottom: 1.2rem;
}
.negrita{
    font-weight: bold;
    padding: 24px;
    font-style: italic;
}
.conc{
    color: rgb(162, 12, 142);
    font-size: 1.3rem;
}



.novedadescarru{
    margin-top: 7rem;
}
/* .carousel-inner {
    display: flex;
    align-content: center;
  }


.slide{
    margin-top: 4rem;
}
#carouselExampleIndicators{
    padding: 24px;
}
.imgitemcarrusel{
    width: 300px;
    height: 300px;
    
    
} */

#carouselExampleIndicators {
    width: 90vw; /* 80% del viewport width */
    height: 50vh; /* 80% del viewport height */
    margin: auto; /* Centrar el carrusel */
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.imgitemcarrusel {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Mantiene la proporción de la imagen y llena el contenedor */
}
@media (max-width: 430px){
    header{
        height: 15vh;
    }
    .contenedorsil{
        flex-direction: column;
    }
    #h1principal{
        font-size: 2rem;
    }
    #h2principal{
        margin: 0;
        padding: 1rem;
       font-size: 0.8rem;
       color: aliceblue;
       background-color:rgb(132, 43, 43) ;
    }
}

@media (min-width: 767px){
    .contenedorastrologia{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        
    }
    
    .itemastro{
        width: 20rem;
        
    }
    .imgastroi{
        height: 320px;
    }
    
#carouselExampleIndicators {
    width: 50vw; /* 80% del viewport width */
    height: 60vh; /* 80% del viewport height */
    margin: auto; /* Centrar el carrusel */
}
    /* .carousel-item{
    width: 50%!important;
    height: 50%!important;
    
} 
    .imgitemcarrusel{
        width: 400px;
        height: 400px;
    } */
}



